<div class='game' data-controller="game" data-game-id="<%= params[:id] %>" data-game-symbol="<%= params[:symbol] %>" data-game-name="<%= params[:name] %>">
    <h1>tic-tac-toe</h1>
    <div data-game-target="container">
        <!-- Game content will be rendered here -->
    </div>
    <button class='button' data-action="click->game#newGame">New Game</button>
</div>
